{% load static %}

{% for answer in answer_list %}
  <div class = "container themen-container">
    <div class="row no-gutters border border-secondary rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-light">
      <div class="p-4 col-auto d-none d-lg-block text-center">
        <center class="media">
          <a href = "#"><img class="ml-2 mr-2 mb-2 rounded-circle" src="{% static answer.profile.avatar %}" alt="" width="48" height="48"></a>
        </center>
        <center><span class="badge badge-pill badge-light"> {{ answer.rating }}</span></center>
        <center>
          <a href = "#"><span class="badge badge-pill badge-success">+</span></a>
          <a href = "#"><span class="badge badge-pill badge-danger">-</span></a>
        </center>
      </div>
      <div class="col p-4 d-flex align-items-start flex-column position-static">
        <p class="card-text mb-auto">{{ answer.description }}</p>
        <div class="form-check mt-2">
          {% if answer.is_correct %}
            <input type="checkbox" class="form-check-input" id="exampleCheck1" checked>
          {% else %}
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
          {% endif %}
          <label class="form-check-label" for="exampleCheck1">Correct!</label>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
