{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
  {{ tittle }}
{% endblock %}


{% block page_content %}

  <div class = "container themen-container mb-4">
    <span class="h2 mr-4">New questions</span>
    <span class="h4 mr-4"><a class = "link" href = "{% url 'ask_n_answer.hot' %}">Hot questions</a></span>
    <span class="h4 mr-4"><a class = "link" href = "{% url 'ask_n_answer.ask' %}">Ask</a></span>
  </div>

  {% include "question_box.html" %}
  {% include "paginator.html" %}

{% endblock %}
