<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Blog Template · Bootstrap</title>

    <!link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/blog/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <!-- Custom styles for this template -->
    <!link href="blog.css" rel="stylesheet">
</head>

<body>





  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href="#">Smirnoff Ask</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse"  aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-center">
      <ul class="navbar-nav">
        <li class="nav-item">

          <form class="form-inline">
            <input class="form-control mr-md-2 " type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ask!</button>
          </form>

        </li>
        <li>


        </li>

      </ul>
    </div>

    <div class="media">
      <img class="mr-3" src="./1.jpg" alt="" width="48" height="48">
    </div>



    <nav class="nav flex-column">
      <a class="nav-link active" href="#"> <strong> Snup Dog </strong> </a>
      <nav class="nav">
        <a class="nav-link" href="#">Logout</a>
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Settings</a>
      </nav>
    </nav>




  </nav>




  <div class = "conainer themed-container">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">


  <div class = "container-fluid">

    <a class="navbar-brand col-md-2 col-sm-2 col-xs-2" href="#">Smirnoff Ask</a>

    <div class = "col-md-5 col-sm-5 col-xs-5 d-flex justify-content-center">
        <form class="form-inline">
          <input class="form-control mr-md-2 " type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ask!</button>
        </form>
    </div>

    <div class = "col-md-3 col-sm-3 col-xs-3">
      <div class = "container-fluid">
        <div class = "col-md-3 col-sm-3 col-xs-3">
          <div> ava </div>
        </div>
        <div class = "col-md-9 col-sm-9 col-xs-9">
          <div class = "row">
             <div class = "col-md-10 col-sm-10 col-xs-10"> Name Surname </div>
          </div>
          <div class = "row">
             <div class = "col-md-3 col-sm-3 col-xs-3"> login </div>
             <div class = "col-md-3 col-sm-3 col-xs-3"> register </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  </nav>


  <div class="row mb-2">
      <div class="col-md-8">

        <div class = "container themen-container">
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">World</strong>
              <h3 class="mb-0">Featured post</h3>
              <div class="mb-1 text-muted">Nov 12</div>
              <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="stretched-link">Continue reading</a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            </div>
          </div>
        </div>

        <div class = "container themen-container">
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">World</strong>
              <h3 class="mb-0">Featured post</h3>
              <div class="mb-1 text-muted">Nov 12</div>
              <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="stretched-link">Continue reading</a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-3">

      </div>
    </div>

</div>
</body>
</html>
