<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Blog Template · Bootstrap</title>

    <!link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/blog/">

    <!-- Bootstrap core CSS -->
    <!link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <!link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../static/css/navbar.css">
</head>

<body>





  <nav class="navbar navbar-expand-md navbar-dark bg-dark">

    <a class="navbar-brand" href="#">Smirnoff Ask</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse"  aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-center">
      <ul class="navbar-nav">
        <li class="nav-item">

          <form class="form-inline">
            <input class="form-control mr-md-2 " type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ask!</button>
          </form>

        </li>

      </ul>
    </div>

    <div class="media">
      <img class="mr-3 rounded-circle" src="./1.jpg" alt="" width="48" height="48">
    </div>



    <nav class="nav flex-column">
      <a class="active text-white" href="#"> <strong> Snup Dog </strong> </a>
      <nav class="nav">
        <a class="active pr-2 text-white" href="#">Logout</a>
        <a class="active pr-2 text-white" href="#">Settings</a>
      </nav>
    </nav>




  </nav>




  <div class = "conainer container-fluid">



  <div class="row mb-2">
      <div class="col-md-9">

        <div class = "container themen-container">
          <h2 class="mb-4">New questions</h2>
        </div>

        <div class = "container themen-container">
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="p-4 col-auto d-none d-lg-block text-center">
              <center class="media">
                <img class="mr-0 mb-2 rounded-circle" src="./1.jpg" alt="" width="48" height="48">
              </center>
              <center><span class="badge badge-pill badge-light">123</span></center>
              <center>
                <span class="badge badge-pill badge-success">+</span>
                <span class="badge badge-pill badge-danger">-</span>
              </center>
            </div>
            <div class="col p-4 flex-column position-static">
              <a href = "#"><h3 class="mb-0">How to create a Technopark project?</h3></a>
              <div class="mb-1 text-muted">Nov 12</div>
              <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="link mr-4">Ansvers (3)</a>
              <span class = "mr-2">Tags: </span>
              <span class="badge badge-success">Success</span>
              <span class="badge badge-success">Success</span>
              <span class="badge badge-success">Success</span>
            </div>
          </div>
        </div>

        <div class = "container themen-container">
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="p-4 col-auto d-none d-lg-block text-center">
              <center class="media">
                <img class="mr-0 mb-2 rounded-circle" src="./1.jpg" alt="" width="48" height="48">
              </center>
              <center><span class="badge badge-pill badge-light">123</span></center>
              <center>
                <span class="badge badge-pill badge-success">+</span>
                <span class="badge badge-pill badge-danger">-</span>
              </center>
            </div>
            <div class="col p-4 flex-column position-static">
              <a href = "#"><h3 class="mb-0">How to create a Technopark project?</h3></a>
              <div class="mb-1 text-muted">Nov 12</div>
              <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="link mr-4">Ansvers (3)</a>
              <span class = "mr-2">Tags: </span>
              <span class="badge badge-success">Success</span>
              <span class="badge badge-success">Success</span>
              <span class="badge badge-success">Success</span>
            </div>
          </div>
        </div>


<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>


   </div>

      <div class="col-md-3">


        <div class = "container mb-4">
          <h2>Best members </h2>

          <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>

        <div class = "container mb-4">

          <h2>Popular tags</h2>
          <a href="#"><span class="badge badge-success">jopa</span></a>
          <span class="badge badge-success">benis</span>
          <span class="badge badge-success">Success</span>
          <span class="badge badge-success">Success</span>
          <span class="badge badge-success">Success</span>
          <span class="badge badge-success">Success</span>
          <span class="badge badge-success">Success</span>

        </div>

      </div>
    </div>

</div>
</body>
</html>
