{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
  {{ tittle }}
{% endblock %}


{% block page_content %}


  {% include "single_question.html" %}
  {% include "answer_box.html" %}

    <div class = "container themen-container border-bottom mb-4"></div>

    <div class = "container themen-container mb-4">
      <form>
        <div class="form-group">
          <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Enter your answer here" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary col-md-2">Answer</button>
      </form>
    </div>


{% endblock %}
