{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
  {{ tittle }}
{% endblock %}


{% block page_content %}


<div class = "container themen-container">
  <h2 class="mb-4">Signup</h2>
</div>


<div>


  <div class = "container themen-container col-md-6 offset-md-3 pl-0">
    <h6 class="mb-4 text-danger offset-md-5 pl-0 pr-0">Sorry, this email already exists!</h6>
  </div>

  <form class="form-horizontal center-block col-md-6 offset-md-3">



  <!-- Text input-->
  <div class="form-group row mr-0">
    <label class="control-label col-md-5 mb-0 pb-2 pt-2" for="login">Login</label>
    <input id="login" name="login" type="text" placeholder="Your login" class="form-control input-md col-md-7">
  </div>

  <!-- Text input-->
  <div class="form-group row mr-0">
    <label class="control-label col-md-5 mb-0 pb-2 pt-2" for="email">Email</label>
    <input id="email" name="email" type="text" placeholder="example@mail.ru" class="form-control input-md col-md-7">
  </div>

  <!-- Text input-->
  <div class="form-group row mr-0">
    <label class="control-label col-md-5 mb-0 pb-2 pt-2" for="nickname">Nick name</label>
    <input id="nickname" name="nickname" type="text" placeholder="Your nick name" class="form-control input-md col-md-7">
  </div>

  <!-- Password input-->
  <div class="form-group row mr-0">
    <label class="control-label col-md-5 mb-0 pb-2 pt-2" for="password">Password</label>
    <input id="password" name="password" type="password" placeholder="*********" class="form-control input-md col-md-7">
  </div>

  <!-- Password input-->
  <div class="form-group row mr-0">
    <label class="control-label col-md-5 mb-0 pb-2 pt-2" for="passwordrepeat">Repeat password </label>
    <input id="passwordrepeat" name="passwordrepeat" type="password" placeholder="*********" class="form-control input-md col-md-7">
  </div>

  <!-- File Button -->
  <div class="form-group row mr-0">
    <label class="control-label col-md-5 mb-0 pb-2 pt-2" for="filebutton">Upload avatar</label>
    <input id="filebutton" name="filebutton" class="input-file col-md-7 pl-0 pr-0" type="file">
  </div>

  <!-- Button -->
  <div class="form-group row mr-0">
    <label class="control-label col-md-5 mb-0 pb-2 pt-2" for="singlebutton"></label>
    <button id="singlebutton" name="singlebutton" class="btn btn-primary container-fluid col-md-7">Signup</button>
  </div>

  </form>

</div>


{% endblock %}
