{% load static %}
<div class = "container themen-container">
  <div class="row no-gutters overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
    <div class="p-4 col-auto d-none d-lg-block text-center">
      <center class="media">
        <a href = "#"><img class="mr-0 mb-2 rounded-circle" src="{% static question.profile.avatar %}" alt="" width="64" height="64"></a>
      </center>
      <center><span class="badge badge-pill badge-light">{{ question.rating }}</span></center>
      <center>
        <a href = "#"><span class="badge badge-pill badge-success">+</span></a>
        <a href = "#"><span class="badge badge-pill badge-danger">-</span></a>
      </center>
    </div>
    <div class="col p-4 d-flex align-items-start flex-column position-static">
      <a href = "#"><h3 class="mb-2">{{ question.title }}</h3></a>
      <p class="card-text mb-auto">{{ question.description }}</p>
      <div class = "mt-2">
        <span class = "mr-2">Tags: </span>
        {% for tag in question.tags.all %}
          <a href="{% url 'ask_n_answer.tag' tag %}"><span class="badge badge-success">{{ tag }}</span></a>
        {% endfor %}
     </div>
    </div>
  </div>
</div>

<div class = "container themen-container border-bottom mb-4"></div>
